<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlayerTracker.Server.Properties.Settings.playertrackerConnectionString"
            connectionString="persistsecurityinfo=True;user id=root;password=root;server=127.0.0.1;database=playertracker"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>